.how_to_use {
  background-color: rgb(135, 29, 174);
}

.how_to_use:hover {
  background-color: rgb(78, 19, 99);
}

.cancel_icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.cancel_icon:hover {
  color: rgb(99, 98, 98);
}

#transition-modal-title {
  text-align: center;
  color: purple;
  font-weight: 600;
}

#transition-modal-description {
  color: rgb(174, 42, 174);
  text-align: justify;
}

#transition-modal-description li {
  margin-bottom: 10px;
}

#transition-modal-description li > span.bold-text {
  font-weight: 600;
}

.instruction_icon {
  position: relative;
  top: -2px;
}

.uppercase-text {
  font-weight: 400;
  text-transform: uppercase;
}

.bottom-text {
  text-align: right;
  font-weight: 600;
  color: rgb(174, 42, 174);
}

.signature {
  margin-right: 30px;
}
